﻿@model Attacks1.Models.Greeting

@{
    ViewData["Title"] = "UnsafeFormHello";
}

<h2>UnsafeFormHello</h2>

<h4>Greeting</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UnsafeFormHello">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nickname" class="control-label"></label>
                <input asp-for="Nickname" class="form-control" />
                <span asp-validation-for="Nickname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
@Html.Raw(ViewBag.Message)

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
